* {
    background-color: #222222;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #dddd99;
    text-decoration: none ;
}

img, section {
    width: 40%;
    height: auto;
    margin: 50px;
}

a {
    color: #dddd99;
}

#cats, #cats_again {
    display: flex;
    font-size: 2rem;
    align-items: center;
}

.nav_bar {
    position: sticky;
    top: 0;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    background-image: linear-gradient(red, yellow);
    background-clip: text;
    color: transparent;
}

.links {
    background-color: inherit;
    font-size: 1rem;
    padding: 8px;
    font-weight: bold;
}

.links span {
    margin: 8px;
}

.links button {
    background-image: linear-gradient(red, yellow);
    border-color: #121212;
    border-radius: 8px;
    padding: 8px;
    color: #121212;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 8px;
}

#landscape {
    background-image: url(images/landscape.jpg);
    background-size: cover;
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#landscape section, #landscape section h3 {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    font-size: 2rem;
    color: #222222;
    margin-top: 30px;;
}

#signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

footer {
    display: flex;
    padding: 30px;
}