* {
    background-color: #222222;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #dddd99;
    text-decoration: none ;
}

img, section {
    width: 40%;
    height: auto;
    margin: 50px;
}

#backToTop {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 10vw;
    height: 10vw;
    background-color: transparent;
}

#backToTop svg {
    background-color: transparent;
}

a {
    color: #dddd99;
}

#cats, #cats_again {
    display: flex;
    font-size: 2rem;
    align-items: center;
}

.nav_bar {
    position: sticky;
    top: 0;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    background-image: linear-gradient(red, yellow);
    background-clip: text;
    color: transparent;
}

.links {
    background-color: inherit;
    font-size: 1rem;
    padding: 8px;
    font-weight: bold;
}

.links span {
    margin: 8px;
}

.links button {
    margin-left: 8px;
}

button {
    background-image: linear-gradient(red, yellow);
    border-color: #121212;
    border-radius: 8px;
    padding: 8px;
}

button a {
    background-color: transparent;
    color: #121212;
    font-weight: bold;
    font-size: 1.5rem;
}

.color {
    color: orangered;
    background-color: inherit;
}

section h3 {
    margin-bottom: 8px;
}

section * {
    text-align: center;
}

#cats img {
    border-radius: 48px 16px;
}

#landscape {
    background-image: url(images/landscape.jpg);
    background-size: 100%;
    height: 800px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    border-top: 24px solid #121212;
    border-bottom: 24px solid #222222;
}

#landscape button {
    margin-top: 60px;
    margin-right: 10vw;
    height: 3.5rem;
}

#landscape section, #landscape section h3 {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    font-size: 2rem;
    color: #222222;
    margin-top: 30px;
    margin-left: 10vw;
    font-weight: bold;
}

#cats_again {
    background-color: #121212;
}

#cats_again img {
    border-radius: 32px 16px 48px;
}

#cats_again section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: inherit;
}

#cats_again section button {
    margin-top: 20px;
    margin-left: 50%;
    margin-right: 10%;
}

#cats_again section h3, #cats_again section p {
    background-color: inherit;
}

#squares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vw 0;
}

#squares h3 {
    text-align: center;
    margin-bottom: 5vw;
    font-size: 2rem;
    font-weight: bold;
}

.squares_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.square_img {
    min-width: 150px;
    min-height: 150px;
    width: 15vw;
    height: 15vw;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square h3 {
    background-color: inherit;
    color: #222222;
}

.square_img img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #121212;
}

footer p {
    font-size: 2rem;
    background-color: inherit;
}

footer p a {
    background-color: inherit;
}